@model Album

<h1>@Model.Title by @Model.Artist</h1>

@foreach (var song in Model.Songs)
{
    <p>Title: @song.Title || 
        Length: @song.LengthInMinutesAndSeconds() 
        (@song.LengthInSeconds seconds)
    </p>
}
